<section class=" container-fluid sect">
    <div class="mt-4 p-5  text-white ">
        <h1>Angular Project</h1>
        <p class="myp">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, ut obcaecati omnis delectus tempore exercitationem ab aperiam in nihil accusantium nulla repellat impedit velit vitae quis cupidita</p>
      </div>
</section>


    <section class="container">

        <div class="centerdiv">
            <div class="mt-4 p-2 ">
                <h1>Angular Project</h1>
              </div>
              <div class="row ">
                <div class="col-sm-6 mydiv ">
                 
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt nulla possimus esse ratione, </p>
                  
                </div>
                </div>
        </div>
       
    </section>

   



