
<section class="container-fluid">
  <div class="mt-4 p-5 bgPrimary text-white rounded">
    <div class="container mt-3">
      <h2>Technology</h2>
    <p id="myp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe obcaecati quod praesentium unde? Minima ea quidem tempore odio labore reprehenderit!Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe obcaecati quod praesentium unde? Minima ea quidem tempore odio labore reprehenderit!Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe obcaecati quod praesentium unde? Minima ea quidem tempore odio labore reprehenderit!</p>
      <div class="card img-fluid" style="width:500px">
        <img class="card-img-top" src="https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=400" alt="Card image" style="width:100%">
        <div class="card-img-overlay">
          <h4 class="card-title">Bhagyashri</h4>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, temporibus pariatur ducimus cupiditate qui excepturi, alias quae nam laborum sed voluptatibus corporis mollitia</p>
          <a href="#" class="btn btnPrimary">See Profile</a>
        </div>
      </div>
    </div>  

    <div class="d-flex p-3 bgSecondary text-white">
      <div class="p-2 bgInfo" >
        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, temporibus pariatur ducimus cupiditate qui excepturi, alias quae nam laborum sed voluptatibus corporis mollitia earum explicabo iure error rerum non commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, temporibus pariatur ducimus cupiditate qui excepturi.</p>
      </div>
      <div class="p-2 bgWarning"> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, temporibus pariatur ducimus cupiditate qui excepturi, alias quae nam laborum sed voluptatibus corporis mollitia earum explicabo iure error rerum non commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, temporibus pariatur ducimus cupiditate qui excepturi</p></div>
      <div class="p-2 bgPmary"> <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, temporibus pariatur ducimus cupiditate qui excepturi, alias quae nam laborum sed voluptatibus corporis mollitia earum explicabo iure error rerum non commodi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, temporibus pariatur ducimus cupiditate qui excepturi,.</p></div>
    </div>
  </div>
  
  
</section>

















<!-- 
<h1>my name is {{myname}}</h1> -->  <!--string interpolation or property binding-->

<!-- <h1>Property binding</h1>
<img [src]="imagepath">  -->

<!-- property binding enclosed with[] -->