/* You can add global styles to this file, and also import other style files */

body{
    background-image: url("https://images.pexels.com/photos/4175060/pexels-photo-4175060.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load");
    background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
}